%section
  .container
    %br
    = link_to "< Back", twitter_profiles_path, class: "float-right"

    .clearfix
    .row
      .col-6
        = image_tag @twitter_profile.profile_image_uri, style: "border-radius: 60px"
        %p
          = "Username"
          %strong= @twitter_profile.username
        %p
          = "Name:"
          %strong= @twitter_profile.name

        = link_to "Twitter", @twitter_profile.uri, target: :_blank
        %br
      .col-6
        %p
          = "Description"
          %br
          %strong= @twitter_profile.description
    %hr
    .row
      .col-3
        %h5= "Personality"
        %ul
          - @twitter_profile.personalities.each do |personality|
            %li= personality.name

      .col-9

        #js-plot

    %hr
    .row
      .col-12
        %h5= "Music"
        - unless @twitter_profile.music_recommender_status == "processed"
          %p.alert.alert-primary
            = "Recommended music is not ready, wait a moment please..."

        %table.table.table-striped
          %thead
            %tr
              %th= "Personality"
              %th= "Tag"
              %th= "Album"
              %th= "Artist"
          %tbody
            - @twitter_profile.recommended_musics.each do |recommended|
              %tr
                %td= recommended.personality_name
                %td= recommended.tag
                %td= link_to recommended.album_name, recommended.album_url, target: :_blank
                %td= recommended.album_artist_name

:javascript
  document.addEventListener("turbolinks:load", function() {
    var data = [{
      values: #{@twitter_profile.personalities.map(&:raw_score)},
      labels: #{@twitter_profile.personalities.map(&:name)},
      type: 'pie'
    }];

    Plotly.newPlot("js-plot", data);
  })
